:root{
    font-family:  'Courier New', Courier, monospace;
}

.body{
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    
    scrollbar-color: #333333 #000000;
}

body::-webkit-scrollbar {
  background-color: #000;
    width: 4px;
}


body::-webkit-scrollbar-thumb {
  background-color: purple; /* Cambiar el color del thumb */
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

/* HEADER */
.header{
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    display: flex;
    z-index: 100;
    color: white;

}
#main-header {
    background-color: transparent; /* Fondo inicial */
    transition: background-color 0.5s ease; /* Transición suave */
}
.nav a{
    color: white;
}
.nav{
    margin-left: -40px;
    margin-top: 10px;
}

.ul-nav{
    display: flex;
}

.nav li{
    list-style: none;
    margin-left: 30px;
    font-size: 17px;
    cursor: pointer;
}

.nav a{
    text-decoration:  none;
}

.nav li:hover{
    text-decoration:underline;
}

.header_buttons{
   position: absolute;
   right: 0;
   top: 10px;
   
}

.label_header a{
    color: white;
}
.label_header{
    font-size: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.header_section{
    position: relative;
    left: 0;
    top: 0;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    filter: brightness(50%)
}



.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000;
    border: 1px solid #ccc;
    width: auto;
}

.dropdown-item{
    position: relative;
    left: -40px;
    font-size: 19px;
    color: white;
}

.dropdown-menu ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 8px 15px; 
}

.dropdown-menu li:not(:last-child) {
    margin-bottom: 8px; 
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.search{
    position: absolute;
    left: 0;
    width: 100%;
    margin-top:40px;
    transition: 0.5s;
    display: none;
}
.search input{
    width: 100%;
    height: 40px;
    outline: none;
    color: #000;
}

.icon_arrow_right{
    position: absolute;
    color: #000;
    font-size: 20px;
    right: 20px;
    top: 5px;
    cursor: pointer;
}

/* PRODUCTOS */

.section_productos{
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
   margin-top: 5%;
}

.img_producto{
    position: relative;
    width: 40%;
    height: 90vh;

}

.img_producto img{
    width: 100%;
    height: 95vh;
}

.container_producto{
    position: absolute;
    left: 40%;
    font-size: 25px;
    top: 0;
    width: 60%;
    height: auto;
    text-align: center;
}


.carrusel_productos{
    width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 65%;
  margin: auto;
  height: 70vh;
  }

  /*BENEFICIOS*/
  .section_beneficios{
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    margin-top: 10%;
  }
  .container_beneficios{
    position: relative;
    width: 100%;
    margin-top: 5%;
  }
  .content_pos{
    position: absolute;
    width: 30%;
    height: 80px;
    left: 1%;
  
  }

  .content_pos2{
    position: absolute;
    width: 30%;
    height: 80px;
    left: 25%;
  
  }

  .content_pos3{
    position: absolute;
    width: 30%;
    height: 80px;
    left: 55%;
  
  }

  .content_pos4{
    position: absolute;
    width: 20%;
    height: 80px;
    left: 80%;
  
  }
.content_benef img{
    position: absolute;
    width: 70px;
    transition: transform 0.5s ease-in-out;
}

.content_benef h5{
    position: relative;
    top: 10px;
     margin-left: 80px;
     margin-top: 15px;
     font-size: 15px;
}

.content_benef:hover img {
    animation: shake 5s ease-in-out infinite;
  }
  
 /*Animacion de los beneficios*/
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
}

/* section categoria */

.section_categoria{
    position: relative;
    width: 100%;
    height: auto;
    top: 150px;
}

.nav_prendas{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background-image: url(../img/banner_cat.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
}

.nav_prendas ul{
    margin-top: 15px;
    margin-left: -11%;
    display: flex;
}

.nav_prendas li{
    list-style: none;
    margin-left: 100px;
    font-size: 17px;
    cursor: pointer;
}

.nav_prendas li:hover{
    text-decoration:underline;
}

.title_categoria{
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}
.contenido{
    margin-left: 5.5rem;

}
.contenido a{
    text-decoration: none;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.carta_item {
    display: flex;
    padding: 2rem;
  }
  

.carta{
  width: 25rem;
  height: 60vh;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,31,74,1) 53%, rgba(37,37,37,1) 100%);
  
}

.img_carta{
    width: 100%;
    height: 45vh;
    transition: transform 0.3s; 
}

.img_carta img{
    width: 100%;
    height: 45vh;
}

.content_carta{
    width: 100%;
    display: grid;
    place-items: center;
}

.carta:hover img {
    transform: scale(1.0);
}

.content_carta h4{
    color: white;
}

.contenido {
    display: none; /* Oculta todos los contenidos */
}
.content_carta button{
    padding: 5px 10px;
    width: 200px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: 1.5s;
}

.content_carta button:hover{
    background-color: rgb(77, 75, 75);
}

.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  

/* Section marcas*/
 .section_marcas{
    position: relative;
    height: auto;
    left: 0;
    margin-top: 15%;
 }

 .carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 70%;
    position: relative;
  }
  
  .carrousel_marcas{
    position: relative;
    margin-top: -9%;
  }

  .owl-carousel .item {
    position: relative;
    z-index: 50; 
    -webkit-backface-visibility: hidden; 
  }
  

  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color:rgb(0, 0, 0);
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }
  
  .marca{
    display:flex;
    align-items:center;
    height: 180px;
  }

  .marca:hover{
    transform: scale(1.3);
  }
  
  /*FOOTER */

  .footer{
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
    background-color: black;
    bottom: 0;
  }

  .footer ::placeholder{
    color: #000;
  }
  .footer_contact{
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    top: 10px;
  }

  .btn_icons_footer{
    text-decoration: none;
    font-size: 25px;
    color: white;
  }
  .btn_footer{
    border-radius: 50%;
    width: 40px;
    border: 3px solid white;
    background-color: transparent;
    margin-left: 15px;
  }

  .footer_input{
    position: relative;
    margin-top: 10px;
    width: 100%;
    
  }
  .footer_input form{
    margin-left: 28%;
  }
  .footer_input label{
    font-size: 20px;
    color: white;
  }
  .footer_input input{
    width: 35%;
    height: 30px;
    outline: none;
  }

  .footer_input button{
    width: 10rem;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }

  .footer_container{
    position: relative;
    width: 100%;
    height: 25vh;
    margin-top: 20px;
    display: grid;
    place-items: center;
  }

  .footer_logo{
    width: 15rem;
    height: 20vh;
  
  }

  .footer_logo img{
    width: 100%;
    height: 100%;
  }

  .copyright{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #000;
  }

  .copyright p{
    color: white;
  }

  .btn_icons_footer:hover{
    color: white;
  }
/* estilo modal de rastreo */

.modal{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(58,31,74,1) 53%, rgba(37,37,37,1) 100%);
  border-radius: 10px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border-radius: 5px;
  color: #fff;
  z-index: 100;
}


.modal-header{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
 
}

.modal-header h5{
  font-size: 20px;
  color: white;
 
}
.modal-header button{
  width: 5rem;
  height: 30px;
  margin-left: 50%;
  background-color: transparent;
  font-size: 30px;
  border: none;
  cursor: pointer;
  color: white;
}


.modal-body{
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;

}

.modal-body label{
  font-size: 20px;
  color: white;
}
.modal_search{
  width: 25rem;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.modal-footer{
  width: 100%;
  display: grid;
  justify-content: center;
}

.modal-footer button{
  width: 40rem;
  height: 40px;
  margin-top: 10px;
  background-color: transparent;
  color: white;
  padding: 5px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s;
}

.modal-footer button:hover{
  background-color: gray;
}
.inp-index{
  color: white;
}

.modal-header button:hover{
  color: white;
}

/*Page Login-Register */

.section_session{
  position: relative;
  width: 100%;
  margin-top: 3%;
  height: 90vh;
  display: grid;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  place-items: center;
}

.container_session{
  position: relative;
  width: 70%;
  height: 75vh;
  background-color: #fff;
 
}
.container_form {
  width: 50%;
  height: 100%;
}
.container_img{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;

}
.container_img img{
  width: 100%;
  height: 100%;
}

.buttons_form{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  
}

.buttonform{
  position: relative;
  width: 50%;
  height: 8vh;
  background-color: #000000;
  color: white;
  border: none;

}
.form_login{
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}

.form_login h3{
  text-align: center;
  color: #000;
  font-size: 30px;
}
.parts_form{
  width: 100%;

}
.parts_form label{
  position: relative;
  width: 100%;
  left: 5%;
  font-size: 15px;
  color: #000;
  margin-top: 5%;
  transition: 0.5s;
}

.parts_form input{
  position: relative;
  left: 5%;
  width: 85%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  color: #000;
  transition: 0.5s;
}

.parts_form input:focus,
.parts_form input:focus + .parts_form label {
  border: 1px solid purple ;
  color: purple;
}

.btn-enviar{
  position: relative;
  top: 30px;
  left: 18%;
  width: 60%;
  height: 35px;
  background-color: #000;
  color: #fff;
  border: none;
  transition: 0.5s;
}
.btn-enviar:hover{
  background-color: purple;
}

.form_register{
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}

.form_register h3{
  text-align: center;
  color: #000;
  font-size: 30px;
}

